<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.httpscsgsu.a2018summer02148784">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="2018 summer"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity">
            // main loads first
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.NotificationActivity" />
        <activity android:name=".activity.TestActivity"></activity>
        <activity android:name=".activity.NinePatchActivity"></activity>
        <activity android:name=".activity.SingleInstanceActivity"></activity>
        <activity android:name=".activity.SingleTaskActivity"></activity>
        <activity android:name=".activity.SingleTopActivity"></activity>
        <activity android:name=".activity.StandardActivity"></activity>
        <activity android:name=".activity.ViewPagerActivity"></activity>
        <activity android:name=".activity.LaunchModeActivity"></activity>


    </application>

</manifest>