<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.httpscsgsu.a2018summer02148784">
    // hot ot ask for permissions
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="2018 summer"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity">
            // main loads first
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.NotificationActivity" />
        <activity android:name=".activity.TestActivity" />
        <activity android:name=".activity.NinePatchActivity" />
        <activity
            android:name=".activity.StandardActivity"
            android:launchMode="standard" />
        <activity
            android:name=".activity.SingleInstanceActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.SingleTaskActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.SingleTopActivity"
            android:launchMode="singleTop" />
        <activity android:name=".activity.ViewPagerActivity" />
        <activity android:name=".activity.LaunchModeActivity" />
        <activity android:name=".activity.ScaleTypeActivity" />
        <activity android:name=".activity.IntentAndBundleActivity" />
        <activity android:name=".activity.Quiz1Activity" />
        <activity android:name=".activity.BaseActivity" />
        <activity
            android:name=".activity.AdvanceListViewActivity"
            android:label="@string/title_activity_advance_list_view"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".activity.AdvanceViewPagerActivity" />
        <activity android:name=".activity.RadioGroupActivity" />
        <activity android:name=".activity.CheckBoxActivity" />
        <activity android:name=".activity.DialogActivity" />
        <activity android:name=".activity.Quiz2PVActivity" />
        <activity android:name=".activity.Quiz2LVActivity" />
        <activity android:name=".activity.Quiz2Activity" />
        <activity android:name=".activity.AnimationActivity" />
        <activity android:name=".activity.AnimatorActivity" />
        <activity android:name=".activity.GestureActivity" />
        <activity android:name=".activity.UpdateAndResultActivity" />
        <activity android:name=".activity.ResultActivity" />
        <activity android:name=".activity.HandlerActivity" />
        <activity android:name=".activity.Quiz3Activity" />
        <activity android:name=".activity.ServiceBindActivity" />
        <activity android:name=".activity.Quiz5Activity" />
        <activity android:name=".activity.SQLiteActivity"></activity>
    </application>

</manifest>